*{
    margin: 0;
    padding: 0;
    color: black;
}


.logo {
    text-decoration: none;
    font-size: 3em;
    padding: 5px;
    margin: 5px;
    
    
}



.titulos1 {
    background-color: rgb(75, 71, 78);
    
    /*width: 70em; 
    height: 8em;
    background-image: linear-gradient(0deg,rgb(233, 220, 220),#a069c0); */
    margin: 1em 0.5em;
    padding: 0.2em 0.6em;
    border: solid 0.2em #da571a; 
    border-radius: 0.7em;
    text-align: center;


    
} 

.titulos2 {
    background-color: rgb(75, 71, 78);
    /*width: 70em; 
    height: 8em; */
    margin: 1em 0.5em;
    padding: 0.2em 0.6em;
    border: solid 0.2em #da571a; 
    border-radius: 0.7em;
    text-align: center;
    position: fixed;
    
    


    
} 

.titulos3 {
    
    background-image: linear-gradient(0deg,rgb(233, 220, 220),#a069c0);
    /*width: 70em; 
    height: 8em;
     */
    margin: 1em 0.5em;
    padding: 0.2em 0.6em;
    border: solid 0.2em #da571a; 
    border-radius: 0.7em;
    text-align: center;


    
} 



.fuenteBlanca {
    color: rgb(254, 254, 255);
    
}

header nav ul li a {
    text-decoration: none;
    font-size: x-large;
    
    
}

header nav ul li {
    list-style-type: none;
    display: inline;
    margin: 10px;
    
    
}

header nav ul {
    margin-top: 10 0 px;
    float: right;

}

.banner{
    width: 100%;
    
}

.contImg img {
    width: 22%;
    margin: 1%;
    border-radius:10px;
    margin: 1%;

}

.contImag2 img {
width: 200px;
transition: 1s;
padding: 20px;
}

.contImag2 img:nth-child(1):hover {
    transform: translate(0px,10px);
    
}

.contImag2 img:nth-child(2):hover {
    transform: rotate(360deg);
    
}

.contImag2 img:nth-child(3):hover {
    transform: rotatex(360deg);
    
}

.contImag2 img:nth-child(4):hover {
    transform: rotateY(360deg);
    
}

.contImag2 img:nth-child(5):hover {
    transform: scale(3) ;
    
}

.contImag2 img:nth-child(6):hover {
    transform: scale(3) ;
    
}

.contImag2 img:nth-child(7):hover {
    transform: scale(3) ;
    
}

.contImag2 img:nth-child(8):hover {
    transform: rotateY(360deg) ;
    
}


.contImag3 img {
    width: 200px;
    transition: 1s;
    padding: 20px;
    }

.contImag3 img:hover {
        transform: scale(3) ;
        
    }    



    



.colecciones, .galeriaGeneral {
    margin-top: 5%;
}

h2 {
    text-align: center;
    margin-bottom: 10px;

}

h4 {
    font-size: 2em;
    text-align: center;
}






.textoContacto {
    font-size: 1.5em;
    text-align: center;
    

}


form {
    display: flex;
    flex-direction: column;
}

.inputForm {
    width: 50%;
    height: 30px;
    margin: 15px auto;
    border-color: blueviolet;
    background-color: rgb(194, 170, 216);
}

.btn1 {
    width: 10%;
    margin: 15px auto;
    height: 30px;
    background-color: blueviolet;
    color:aliceblue
    
    }

.btnRedondo {
    
   border-radius: 10%;
}    

footer {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}


.entradaCorreo {
    text-align: center;
}

.mainSobreMi {
    background-color: gray;
    
    padding: 0.2em 0.6em;
    border: solid 0.2em #da571a; 
    border-radius: 0.7em;
    text-align: center;
    
}

.formularioboostrap {
    width: 600px;
    margin: auto;
}

.grad {
    text-align: center;
    width: 700px;
    height: 140px;
    background-image: linear-gradient(0deg,rgb(233, 220, 220),#a069c0);
    margin: 1em 0.5em;
    padding: 0.2em 0.6em;
    border: solid 0.2em #da571a; 
    border-radius: 0.7em;
    

}