.titulos1 {
    background-color: rgb(75, 71, 78);
    margin: 1em 0.5em;
    padding: 0.2em 0.6em;
    border: solid 0.2em #da571a; 
    border-radius: 0.7em;
    text-align: center;
    p{
        color: rgb(254, 254, 255);
    }

    &:hover p{
        font-size: large;
    }

}