*{
    margin: 0;
    padding: 0;
    color: black;
}


@import "titulos1";
@import "banner";
@import "footer1";
@import "boldnav";
@import "contImag3";
@import "contImag2";
@import "contacto";
@import "titulos3";
@import "suscribete"

